.logout{
    display: flex;
    align-items: center;
    /* justify-content: start; */
}
.item:not(:last-child){
    margin-right: 8px;
}
.email{
        font-family: monospace;
        font-weight: 500;
        font-size: 14px;
    
        color: greenyellow;
        background-color: rgba(0, 0, 0, 0.778);
    
        padding: 10px;
        border-radius: 4px;
}
