.header {
    position: relative;
    border-bottom: 5px solid #ececec;
}

.header__container {
    display: grid;
    grid-template-columns: 3fr 1fr;

    padding-top: 10px;
    padding-bottom: 10px;
}

.nav {
    display: flex;
}
